@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;
}
/* Scroll Animation */
.fade-up {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}